<div class="row background-blue">
  <div class="col-md-12"><h4> Application Information</h4></div>
</div>
<div class="row background-green">
  <div class="col-md-4" id="appDomain"><h5>Domain</h5></div>
  <div class="col-md-4" id="appType"><h5>Application Type</h5></div>
  <div class="col-md-4" id="appName"><h5>Application Name</h5></div>
</div>
<!-- <div class="row background-green" style="margin-right: 1em;">
  <div class="col-md-4"><h4> Name:</h4></div>
</div>
<div class="row background-green" style="margin-right: 1em;">
  <div class="col-md-4"><h4> Domain:</h4></div>
</div> -->