<div class="row background-blue">
                <div class="col-md-4"><h4> Policy Checklist</h4></div>
                <div class="col-md-8" style="padding-top: 0.5em;">
                    <select style="width:80%" class="populate" id="source">
                    <option></option>
               <optgroup label="Web Server">
                   <option value="AK">Security Policy</option>
                   <option value="HI">Authentication Policy</option>
               </optgroup>
               <optgroup label="Database Server">
                   <option value="CA">Storage Policy</option>
                   <option value="NV">Authentication Policy</option>
               </optgroup>
             </select>
                    </div>
                   
                    
 
                </div>