<div id= "application-creation" class="row-container background-red" style="min-height: 160px; margin-left: 10px; border-radius: 2px; margin-top: 10px;">
    <!-- <span class="col-md-1" style="margin: 0px;"><span class="circle" style="background: grey">1</span></span> -->
    <div class="row-container">
        <span class="col-md-3" style="text-align: center;"><h3 class="circle background-teal" style="padding-top: 0.4em">1 </h3></span>
        <span class="col-md-9" style="text-align: left;"><h3 style="padding-top: 0.4em; margin-left: -0.4em;"> Select Domain</h3></span>
    </div>
    <div class="row-container">
        <span class="col-md-12">
            <select placeholder= "Choose Domain" style="width:100%; padding-top: 0.7em;" class="populate" id="domainList">
                <option></option>
            </select>
        </span>
    </div>
</div>

