<div id= "application-creation" class="row-container background-orange" style="min-height: 160px; margin-left: 10px; border-radius: 2px; margin-top: 10px;">
    <!-- <span class="col-md-1" style="margin: 0px;"><span class="circle" style="background: grey">1</span></span> -->
     <div class="row-container">
            <span class="col-md-1" style="text-align: center; margin-left:0em;"><h3 class="circle background-blue" style="padding-top: 0.4em">2</h3></span>
            <span class="col-md-10" style="text-align: left;"><h3 style="padding-top: 0.4em; margin-left: 1.2em;"> Application Type</h3></span>
        </div>
    <div class="row-container">
        <span class="col-md-12">
            <select placeholder= "Select Application Type" style="width:100%; padding-top: 0.7em;" class="populate" id="appTypeList">
                <option></option>
            </select>
        </span>
    </div>
</div>