<div id= "application-creation-instance" class="row-container background-light-blue" style="min-height: 220px; margin-left: 10px; border-radius: 2px;margin-top: 2em;">
    <div class="row-container">
        <div class="row-container">
            <span class="col-md-3" style="text-align: center;"><h3 class="circle " style="padding-top: 0.4em">4b</h3></span>
            <span class="col-md-9" style="text-align: left;"><h3 style="padding-top: 0.4em; margin-left: -2em;">Select Policy Modules for Application</h3></span>
        </div>
    </div>                
    <div class="row-container">
        <div class="app-component-types col-md-12">
            <div id="nginx-pol" style="display:None">
                <div class="polbutton" rel="">
                    <button class="polcomp btn btn-success"><h4> Nginx Security Component</h4></button>
                </div>    
            </div>
            <!-- <ul id="application-list" class="list-inline intro-social-buttons" style="float: left">
                <li class="domain-icons" style="padding: 0.3em;margin-left: 0.4em;">
                    <div>
                        <img src="/static/img/webServer.png"/>
                    </div>
                    <div>
                        Web Server 
                    </div>
                </li>
                <li class="domain-icons" style="padding: 0.3em;margin-left: 0.4em;">
                    <div>
                        <img src="/static/img/appServer.png"/>
                    </div>
                    <div>
                        Application Server
                    </div>
                </li>
                <li class="domain-icons" style="padding: 0.3em;margin-left: 0.4em;">
                    <div>
                        <img src="/static/img/dbServer.png"/>
                    </div>
                    <div>
                        Database Server
                    </div>
                </li>
            </ul> -->
        </div>
    </div>
</div>